*{
    font-family: 'Raleway', sans-serif;
}

.inputfield {
    height: 40px;
    text-align: center;
    width: 100%;
    color: white;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.3);
    border: 2px solid #f09233;
}    

.inputfield:focus {
    outline: none;
    color: white;
}    

.inputfield::placeholder {
    color: white;
}


.buttons{
    height: 37px;
    width: 250px;
    border-radius: 25px;
    margin-top: 15px;
    color: white;
    border:2px solid #f09233;
    background-color: #f09233;
    font-size: 17px;
    margin-bottom: 20px;
}

.buttons:hover{
    border-radius: 25px;
    margin-top: 15px;
    font-size: 18px;
    color: white;
    border:2px solid #f09233;
    background-color: #f09233;
    cursor: pointer;
    box-shadow: 0 0 30px rgba(0,0,0,.3);
}
    
.container {
    padding: 150px;
    text-align: center;
    width: 30%;
    margin:0 auto;
    background: #1d4e69;
    border-radius:10px;
    margin-top: 100px;
    box-shadow: 0 0 30px rgba(0,0,0,.6);
}


#inpDescr::placeholder{
    padding-top: 10px;
}
#inpDescr:focus {
    padding-bottom:-20px;
    padding-top: 10px;
}
#cont>h3 {
    text-align: center;
            
}
#oppgaver {
    color: white;
}
        
/*Tasks*/
.slettknapp {
    border-radius: 7px;
    height: 50px;
    width: 50px;
    color: white;
    background-color: #f09233;
    border: 2px solid #f09233;
    font-size: 30px;
    float: right;
    margin-top: 20px;
}
.slettknapp:hover {
    cursor: pointer;
    border-radius: 7px;
    height: 50px;
    width: 50px;
    background-color: #cb3837;
    border: 2px solid #cb3837;
    color: white;
    font-size: 30px;
}
.element {
    width: 87%;
    margin:0 auto;
    vertical-align:middle;
    background-color: #fffae5;
    padding: 50px;
    margin-bottom: 15px;
    padding-left: 25px;
    height: auto;
        box-shadow: 0 0 30px rgba(0,0,0,.3);

}
        
.element>h3 {
    
    padding-left: 25px;
    float: left;
    text-align: center;
    text-transform: uppercase;


}

.beskrivelse {
    float: auto;
    padding-top: 55px;
    text-align: left;
    padding-left: 25px;
            
}

.innhold {
    float: left;
    margin-bottom: 50px;

}

/*Tasks slutt*/        

body {
    background-color: #f09233;
    background: URL("pictures/bakgrunn_char.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


        
#loggut {
    font-family: 'Abel', sans-serif;
    text-decoration: none; 
    float: right;
    color: black;
    font-size: 20px;
    padding-right: 20px;
    color: white;
}

#loggetinn{
    font-family: 'Abel', sans-serif;
    text-decoration: none; 
    float: left;
    color: black;
    font-size: 20px;
    padding-left: 20px;
    color: white;
}

nav {
    
    background-color: #1d4e69;
    box-shadow: 0 0 30px rgba(0,0,0,.6);
    vertical-align: center;
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 98.7%;

}

.liste {
    background-color: pink;
}

.logo {
    width:100%;
}
#simply{
    color: #f09233;
    margin-bottom: 25px;
}

#ovre{
    background-color: #1d4e69;
}

#nedre{
    background-color: #f09233;
    height: 800px;
    margin-bottom:;
}
#lagbruker {
    text-align: center;
}
#top-field {
    width: 100%;
    margin: 0 auto;
}